.usuario-detalle{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}

.usuario-img{
    width: 25vh;
    height: 25vh;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
    top: 27vh;
    position: absolute;
    border: 1px solid #9d9d9d;
}

.usuario-nombre{
    margin: 10px 0px;
    margin-top: 18vh;
    font-size: 2.5vh; 
    width: 75%;
    height: auto;  
}

.usuario-puesto{
    background: linear-gradient(180deg,#8162ff,#6284ff);
    border-radius: 42px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
    color: #fff;
    display: flex;
    font-size: 1.7vh;
    justify-content: center;
    padding: 5px 10px;
    width: 20vh;
    text-align: center;
}
