.legajo-empleado{
    padding: 2vw;
    font-family: 'Inter';
    overflow-y: auto;
}

.empleado-detalle{
    display: flex;
    height: 15vh;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 2vw;
}

.empleado-solapa-principal{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2vh;
    min-height: 60vh;
}

.empleado-detalle{
    display: flex;
    justify-content: space-between;
    padding: 3vh;
}

.empleado-detalle-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.empleado-detalle-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empleado-nombre{
    width: 10vw;
    font-size: 2.5vh;
    font-weight: 700;
}

.empleado-legajo{
    display: flex;
    height: 4vh;
    width: 7vw;
    border-radius: 20px;
    background-color: #545454;
    color: #ffffff;
    font-weight: 800;
    font-size: 2.4vh;
    justify-content: center;
    align-items: center;
}

.empleado-selector{
    display: flex;
    align-items: center;
    height: 5vh;
    border-radius: 20px;
    background-color: #545454;
    color: #ffffff;
    margin-left: auto;
    margin-right: 1vw;
    margin-bottom: 2vh;
}

.empleado-selector-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 5vh;
    text-decoration: none;
    color: #ffffff;
    font-size: 2.1vh;
    font-weight: 800;
}

.empleado-selector-boton:hover{
    border: 3px solid #44A2F9;
    border-radius: 20px;
}

.empleado-selector-boton.active {
    border: 3px solid #44A2F9;
    border-radius: 20px;
}

.empleado-solapa-contenido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.empleado-puesto{
    width: 100%;
}

.encuesta-tarjeta{
    display: flex;
    flex-direction: row;
    width: 55vh;
    height: 14vh;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Inter';
    margin: 20px 4vh;
    text-decoration: none;
    background-color: #553eb9;
    color: #ffffff;
    align-items: center;
}

.encuesta-tarjeta .evaluacion-icono{
    color: #553eb9;
}

.empleado-detalle-img{
    width: 14vh;
    height: 14vh;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.empleado-detalle-datos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-left: 2vw;
}

/* Empleado plan de capacitación */

.empleado-plan-capacitacion-titulo{
    font-size: 2.5vh;
    font-weight: 700;
    font-size: 2.7vh;
    font-weight: bold;
    color: #000000;
    width: 500px;
}

.empleado-plan-capacitacion-contenido{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.plan-capacitacion-item{
    width: 56vw;
    font-family: 'Inter';
    border: 2px solid #919191;
    border-radius: 16px;
    margin-bottom: 4vh;
}

.plan-capacitacion-desplegable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border-radius: 16px;
    text-decoration: none;
    padding: 0 1vw;
}

.plan-capacitacion-desplegable-container{
    border-radius: 0px 0px 16px 16px;
    transition: max-height 0.5s ease-in, max-height 0.4s ease-out, visibility 0.9s ease-in, visibility 0s ease-out;
}

.plan-capacitacion-desplegable .material-symbols-outlined{
    color: #000000;
}

.plan-capacitacion-item .show-c{
    max-height: fit-content;
    padding: 2vh 1vw;
    border-top: 2px solid #919191;
}

.propuesta-capacitacion-titulo{
        width: fit-content;
    padding: 2px 1vw;
    margin-bottom: 2vh;
    font-size: 2.2vh;
    font-weight: 800;
    border-radius: 35px;
    background-color: #2b74b7;
    color: #ffffff;
}

.propuesta-capacitacion-subtitulo{
    font-size: 1.8vh;
    font-weight: 600;
    margin-bottom: 1vh;
}

.propuesta-capacitacion-texto{
    margin-bottom: 4vh;
}

.propuesta{
    
}