.listado-tareas{
    display: flex;
    flex-direction: column;
}

.tarea-header{
    display: flex;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1vw;
    align-items: center;
    justify-content: center;
    height: 5vh;
    border-radius: 20px;
    background-color: #2B74B7;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 40px;
}

.tarea-content{
    height: auto;
    border-radius: 20px;
    background-color: #F4F4F4;
    box-shadow: 0px 3px 2px #36363659;
    padding: 10px;
}

.texto-no-tarea{
    padding: 75px 40px;
    color: #8F8888;
    font-family: 'Inter';
    font-size: 1.7vh;
}